# Define Variables
if [ "$TERM_PROGRAM" = "vscode" ]; then export SHLVL_OFFSET=1;fi
export repo_root=$(git rev-parse --show-toplevel 2>/dev/null || pwd)
cat=$(which bat)

# Once a day
daily_file="${repo_root}/.envrc"
daily=$($date -r "$daily_file" +%Y%m%d 2>/dev/null)
if [ "$daily" != $($date +%Y%m%d) ]; then
 test -e "$daily_file" && test -s "$daily_file" && touch "$daily_file"

# auto-motd ($OLDPWD is the dir you were in when the .envrc file was loaded)
for f in $OLDPWD/.motd .motd motd motd.md README.md; do
 test -f $f && ${cat:-cat} ${cat:+-l md} $f && break
done

fi

# subdir motd ($OLDPWD is the dir you were in when the .envrc file was loaded)
test -e /tmp/no-motd || for f in $OLDPWD/.motd; do
 test -f $f && ${cat:-cat} ${cat:+-l md} $f && break
done

# inline motd
test -e /tmp/shush || cat<<\EOM | ${cat:-cat} ${cat:+-l md}
EOM

# test -f ${DIRENV_FILE%/*}/.daily && rm ${DIRENV_FILE%/*}/.daily || touch -r /tmp/mke ${DIRENV_FILE?}
# vim:backup
